In [54]:
import pandas, geopy

DataFrame4 = pandas.read_csv("http://pythonhow.com/supermarkets.csv", index_col="ID")
DataFrame4

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [20]:
Nominating=geopy.geocoders.Nominatim(scheme="http")

In [21]:
Location = Nominating.geocode("300 Kent Ave, Randburg, 2194")
Nominating.geocode("300 Kent Ave, Randburg, 2194")

Location(Kent Avenue, Johannesburg Ward 102, Randburg, City of Johannesburg Metropolitan Municipality, Gauteng, 2125, South Africa, (-26.0962183, 27.9998553, 0.0))

In [22]:
Location.latitude

-26.0962183

In [23]:
Location.longitude

27.9998553

In [56]:
DataFrame4["GeoPoint"]=DataFrame4["Address"] + ", " + DataFrame4["City"] + ", " + DataFrame4["State"]

In [57]:
DataFrame4

,Address,City,State,Country,Name,Employees,GeoPoint
ID,,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114"
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119"
3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114"
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114"
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California"
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114"

In [60]:
DataFrame4["Latitude"]=DataFrame4["GeoPoint"].apply(Nominating.geocode)

In [61]:
DataFrame4

,Address,City,State,Country,Name,Employees,GeoPoint,Latitude
ID,,,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114","(21st Street, Mission District, SF, California..."
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119",None
3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114","(Hill Street, Liberty Street Historic District..."
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114","(3995, 23rd Street, Noe Valley, SF, California..."
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California","(Sanchez Street, Noe Valley, SF, California, 9..."
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114","(Alvarado Street, Noe Valley, SF, California, ..."

In [62]:
DataFrame4["Latitude"]=DataFrame4["Latitude"].apply(lambda x: x.latitude if x != None else None)

In [63]:
DataFrame4

,Address,City,State,Country,Name,Employees,GeoPoint,Latitude
ID,,,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114",37.757051
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119",NaN
3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114",37.756102
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114",37.752965
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California",37.748362
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114",37.753666

In [64]:
DataFrame4["Longitude"]=DataFrame4["GeoPoint"].apply(Nominating.geocode)
DataFrame4["Longitude"]=DataFrame4["Longitude"].apply(lambda x: x.longitude if x != None else None)

In [65]:
DataFrame4

,Address,City,State,Country,Name,Employees,GeoPoint,Latitude,Longitude
ID,,,,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114",37.757051,-122.418804
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119",NaN,NaN
3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114",37.756102,-122.421041
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114",37.752965,-122.431714
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California",37.748362,-122.429346
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114",37.753666,-122.434440